@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Slow</title>
</head>
<body>
    <h1>This is a very slow page.</h1>
</body>
</html>
