@{
    ViewData["Title"] = "WebClient - User";
}
<h1>@ViewData["Title"]</h1>

<br />
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item"><a asp-controller="User" asp-action="Profile">Go to protected profile</a></li>
</ul>
